//Cores
$cor-primaria:#ff6b81;
$cor-secundaria:#333333;
$cor-branco:#FFFFFF;
$cinza-claro:#EFEFEF;
$cor-azul-claro:#00AAFF;




//Medidas
$padding-cabecalho:10px 0px;
$padding-container:10px 15px;

//Medidas para position:fixed/absolute
$padding-x-rigth-padrao:30px;
$padding-x-left-padrao:30px;

$padding-y-bottom-padrao:30px;