@use '../../lib/bootstrap/bootstrap.min.css';
@use 'reset';
@use 'grid-principal';
@use 'cabecalho';
@use 'section-home';
@use 'section-servicos';
@use 'section-portfolio';
@use 'section-sobre';
@use 'section-time';
@use 'section-contato';

