@use 'v';
.section-home{
    grid-column: inicio-left / fim-rigth;
    grid-row:inicio-section-home / fim-section-home ;
    padding: 0 5%;

    .box-titles{
        margin-bottom: 30px;
        .title{
            color: #00aaff;
            margin-bottom: 30px;
            font-weight: 600;
        }
        .subtitle{
            font-family: 'Work Sans',sans-serif;
            color: #645F88;
        }
    }

    .box-btns-acao{
        .btn-acao{
            display: block;
            width: 100%;
            padding: 6px 20px;
            border-radius: 4px;
            cursor: pointer;
        }
        .btn-sobre{
            color: #333;
            border: 1px solid #bab6b6;
            margin-bottom: 20px;
        }
        .btn-orcamento{
            color: #FFF;
            background-color: #00aaff;
        }
    }
}