@use 'v';
.section-home{
    grid-column: inicio-left / fim-rigth;
    grid-row:inicio-section-home / fim-section-home ;
    padding: 0 5%;

    .box-titles{
        margin-top: 50px;
        margin-bottom: 20px;
        .title{
            color: #00aaff;
            margin-bottom: 30px;
            font-weight: 600;
        }
        .subtitle{
            font-family: 'Work Sans',sans-serif;
            color: #645F88;
        }
    }

    .box-btns-acao{
        .btn-acao{
            width: 100%;
            padding: 10px 25px;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
        }
        .btn-sobre{
            color: #00aaff;
            border: 1px solid #00aaff;
            margin-bottom: 25px;
        }
        .btn-orcamento{
            color: #FFF;
            background-color: #00aaff;
        }
    }
}

@media screen and (min-width: 768px) {
    .section-home{
        .box-titles{
            margin-top: 0px;
        }
        .box-btns-acao{
            margin-top: 40px;
            padding-right: 10%;
            justify-content: space-between;
            .btn-acao{
                width: 60%;
            }
            .btn-sobre{margin-bottom: 0;}
        }
    }
}