
.section-servicos{
    grid-column: inicio-left / fim-rigth;
    grid-row:inicio-section-servicos/fim-section-servicos;

    .box-servico{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        .icon-servico{
            display: flex;
            width: 70px;
            height: 70px;
            margin-bottom: 15px;
            .icon{
                width: 100%;
                height: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .title-servico{
            font-family: "Work Sans",sans-serif;
            font-weight: lighter;
            color: #333;
            font-size: 20px;
        }
        .subtitle-servico{
            width: 90%;
            text-align: center;
            color: #898798;
        }
    }
}

@media screen and (min-width: 768px) {
    .box-servico{

    } 
}